.logo {
    width: 100px;  
    height: auto; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
}

nav {
    background-color: #5d382F; 
    padding: 10px; 
    height: 50px; 
}


nav ul {
    display: flex; 
    list-style-type: none; 
    margin: 20; 
    padding: 40; 
    justify-content: flex-end;
}


nav ul li {
    margin: 0 15px; 
}


nav ul li a {
    color: #FAF9F6; 
    text-decoration: none; 
    font-weight: bold; 
}


nav ul li a:hover {
    text-decoration: underline; 
    color: #FFD700; 
}
.banner { 
    background-image: url(websitebg2.jpeg);
    background-position: center center; 
    background-size: cover;
    height: 600px; 
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 20px; 
}

.headline {
    text-align: left;
    font-size: 3em; 
    color: #FAF9F6; 
    margin: 100px;
    padding: 20px 0; 
    border-radius: 10px;
    font-family: 'Georgia',
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.inquire-button {
   
    background-color: #FAF9F6;
    color: #8B4513;
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px;
    font-size: 1em; 
    cursor: pointer; 
    margin-top: 20px; 
    margin-left: 100px; 
    transition: background-color 0.3s, color 0.3s; 
}

.inquire-button:hover {

    background-color: #D2B48C; 
    color: #FAF9F6;
}
.product-gallery {
    display: flex;
    gap: 40px;
    padding: 20px;
    max-width: 1000px;
    margin-top: 40px;
}

.product-gallery img {
    width: 200px;    
    height: 300px;   
    object-fit: cover; 
    border-radius: 8px;
}

.product {
    text-align: center;
    width: 200px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.product-image:hover {
    transform: scale(1.05);
}

.product-name a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0 5px;
    transition: color 0.2s ease;
}

.product-name a:hover {
    color: #007BFF;
}

.product-price {
    color: #666;
    font-size: 0.9em;
}
.banner1 { 
    background-color: #d7cbc1;
    background-position: center center; 
    background-size: cover;
    height: 500px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    padding-left: 20px; 
}

.branches-list {
    display: flex;
    gap: 120px;
    padding: 20px;
    max-width: 1000px;
    margin-top: 40px;
}

.branches-list img {
    width: 260px;   
    height: 260px;   
    object-fit: cover; 
    border-radius: 8px; 
}

.branch {
    text-align: center;
    width: 200px;
}

.branch-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.branch-image:hover {
    transform: scale(1.05);
}

.branch-name a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0 5px;
    transition: color 0.2s ease;
}
.about-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.about-image {
    margin-top: 40px; 
}
.about-image img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-right: 60px; 
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
}

.product1-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.product1-image {
    margin-top: 40px; 
}
.product1-image img {
    width: 300px;    
    height: 400px;   
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 80px; 
}

.product1-text {
    max-width: 600px;
}

.product1-text h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product1-text p {
    font-size: 16px;
    line-height: 1.5;
}
.product2-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.product2-image {
    margin-top: 40px; 
}
.product2-image img {
    width: 300px;    
    height: 400px;   
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 80px; 
}

.product2-text {
    max-width: 600px;
}

.product2-text h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product2-text p {
    font-size: 16px;
    line-height: 1.5;
}
.product2-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.product2-image {
    margin-top: 40px; 
}
.product2-image img {
    width: 300px;    
    height: 400px;  
    object-fit: cover;
    border-radius: 10px; 
    margin-right: 80px; 
}

.product2-text {
    max-width: 600px;
}

.product2-text h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product2-text p {
    font-size: 16px;
    line-height: 1.5;
}
.product3-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.product3-image {
    margin-top: 40px; 
}
.product3-image img {
    width: 300px;    
    height: 400px;   
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 80px;
}

.product3-text {
    max-width: 600px;
}

.product3-text h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product3-text p {
    font-size: 16px;
    line-height: 1.5;
}
.product4-container {
    display: flex;
    align-items: center;
    padding: 20px;
}
.product4-image {
    margin-top: 40px; 
}
.product4-image img {
    width: 300px;    
    height: 400px;  
    object-fit: cover; 
    border-radius: 10px; 
    margin-right: 80px; 
}

.product4-text {
    max-width: 600px;
}

.product4-text h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product4-text p {
    font-size: 16px;
    line-height: 1.5;
}
